body {
  max-width: 60em;
  height: 100vh;
  margin: auto;
}

#gameBackground {
  background: lightblue;
  height: 80%;
  width: 80vh;
  border: solid 1px lightgrey;
  border-radius: 1%;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 20px grey;
  display: flex;
  flex-wrap: wrap;
}

.memoryCard {
  background: #555;
  border: solid 1px grey;
  border-radius: 10%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: 23%;
  height: 23%;
  /*transition: background 1.5s;*/
}

.memoryCard p {
  visibility: hidden;
  font-size: 35px;
  /*transition: visibility 0.5s;*/
}
