body {
  max-width: 60em;
  height: 100vh;
  margin: auto;
}

#gameBackground {
  background: lightblue;
  height: 80%;
  border: solid 1px lightgrey;
  border-radius: 1%;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 20px grey;
  display: flex;
  flex-wrap: wrap;
}

.memoryCard {
  background-color: #555;
  border: solid 1px grey;
  border-radius: 10%;
  min-width: 23%;
  height: 25%;
  /*transition: background-color 1.5s;*/
}

.memoryCard span {
  visibility: hidden;
  /*transition: visibility 0.5s;*/
}
